

#page_container {
  position: relative;
  margin-bottom: 0;
  background: linear-gradient(-45deg, #a8e48a, #1eb6d9, #f2d3f7);
  display: flex;
  justify-content: center;
  
}

  
.content{
  text-align: center;
}


  